@media screen and (min-width: 1200px) {
    .container {
        width: 86%;
        max-width: 1440px;
    }
    .navigation {
        &__wrapper {
            width: 38.6905vw;
        }
    }
}
@media screen and (max-width: 1440px) {
    .hero-slider {
        &__item {
            &-name {
                font-size: 2.3rem;
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    .about-hero {
        &__title {
            font-size: 4rem;
        }
        &__text {
            & p {
                font-size: 3.2rem;
            }
        }
        &__numbers {
            &-value {
                font-size: 4.4rem;
            }
            &-text {
                font-size: 1.6rem;
            }
        }
    }
    .box {
        &__content {
            padding: 30px 35px;
            transform: translateY(calc(100% - 170px));
            &_bigger {
                transform: translateY(calc(100% - 190px));
            }
            &-note {
                font-size: 1.6rem;
            }
            &-text {
                & p {
                    font-size: 1.6rem;
                }
            }
        }
        &__title {
            font-size: 2.8rem;
            &_s {
                font-size: 1.6rem;
                &::after {
                    top: calc(100% + 12px);
                }
            }
        }
        &__link {
            font-size: 1.6rem;
        }
    }
    .footer-menu {
        &__link {
            font-size: 1.6rem;
        }
    }
    .hero-slider {
        &__item {
            flex-basis: 90px;
            &_active {
                flex-basis: 100%;
            }
            &-link {
                font-size: 1.6rem;
            }
            &-name {
                font-size: 1.8rem;
                left: 28px;
                top: calc(100% - 30px);
            }
        }
    }
    .lang {
        &__link {
            font-size: 1.6rem;
        }
    }
    .news-item {
        &__title {
            font-size: 1.6rem;
        }
        &__text {
            & p {
                font-size: 1.6rem;
            }
        }
        &__img {
            height: 245px;
        }
    }
    .project-address {
        &__title {
            font-size: 2rem;
        }
        &__value {
            font-size: 1.6rem;
        }
    }
    .project-numbers {
        &__item {
            &-value {
                font-size: 4.2rem;
            }
            &-name {
                font-size: 1.4rem;
            }
        }
    }
    .project-road-item {
        &__number {
            font-size: 1.6rem;
        }
    }
    .project-team {
        padding: 45px 50px;
        &__title {
            font-size: 2rem;
        }
        &__list {
            &-item {
                font-size: 1.6rem;
            }
        }
    }
    .video-item {
        &__content {
            &-date {
                font-size: 1.6rem;
                &_bigger {
                    font-size: 2rem;
                }
            }
            &-title {
                font-size: 2.4rem;
                &_upper {
                    font-size: 3.2rem;
                }
                &_bigger {
                    font-size: 3.2rem;
                }
            }
            &-note {
                font-size: 1.6rem;
                &_bigger {
                    font-size: 2rem;
                }
            }
        }
    }
    .about-section {
        &__title {
            font-size: 3.6rem;
            &-note {
                font-size: 2rem;
            }
        }
        &__text {
            & p {
                font-size: 1.6rem;
            }
        }
        &__note {
            font-size: 2rem;
        }
        &__content {
            & p {
                font-size: 1.6rem;
                &:first-child {
                    font-size: 1.8rem;
                }
            }
        }
        &__additional-content {
            & p {
                font-size: 1.6rem;
                &:first-child {
                    font-size: 2rem;
                }
            }
            &-link {
                font-size: 1.6rem;
            }
        }
        &__col {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .advantages-section {
        &__col {
            &-name {
                font-size: 1.6rem;
            }
        }
    }
    .footer {
        &__tel-link {
            font-size: 1.6rem;
        }
        &__text {
            text-align: center;
            width: 100%;
            font-size: 1.4rem;
        }
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__menu {
            width: 100%;
            justify-content: center;
            margin-bottom: 30px;
        }
        &__links {
            margin-left: 0;
        }
        &__dev {
            margin-left: 0;
            margin-top: 10px;
        }
    }
    .header {
        &__tel-link {
            font-size: 2rem;
        }
        &__menu-button {
            font-size: 2rem;
        }
        &__logo {
            &-icon {
                width: 100%;
                max-width: 200px;
            }
        }
    }
    .partner-section {
        &__title {
            font-size: 2.2rem;
        }
        &__text {
            & p {
                font-size: 1.6rem;
            }
        }
    }
    .project-description {
        &__title {
            font-size: 3rem;
        }
    }
    .text-section {
        &__content {
            & p {
                font-size: 1.6rem;
            }
        }
    }
    .media-section {
        &__col {
            margin-bottom: 60px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .projects-section {
        &__item {
            height: 570px;
        }
    }
    .video-section {
        &__item {
            height: 450px;
        }
    }
}
@media screen and (max-width: 991px) {
    .header {
        padding: 25px 0;
        &__logo {
            &-icon {
                max-width: 140px;
            }
        }
        &__menu {
            &-button {
                width: 30px;
                height: 30px;
                padding: 0;
                font-size: 0;
                background: image('navigation.svg') no-repeat 50% / 23px auto;
                &-icon {
                    display: none;
                }
            }
        }
    }
    .navigation {
        width: 100%;
        padding-top: 80px;
        &__wrapper {
            width: 100%;
        }
        &__list {
            padding: 35px 0;
        }
    }
    .slider {
        &__item {
            &-link {
                font-size: 1.2rem;
            }
        }
    }
    .footer {
        padding: 25px 0;
        padding-bottom: 30px;
        &-menu {
            &__link {
                font-size: .9rem;
            }
            &__item {
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &__tel-link {
            font-size: 1.2rem;
            margin-right: 20px;
        }
        &__lang {
            margin-right: 20px;
            & .lang {
                &__link {
                    font-size: 1.2rem;
                }
            }
        }
        &__text {
            font-size: 1rem;
        }
    }
    .projects-section {
        &__item {
            height: 470px;
        }
    }
    .box {
        &__content {
            padding: 30px;
            transform: translateY(calc(100% - 130px));
            &-note {
                font-size: 1.2rem;
                width: 100%;
            }
            &-text {
                & p {
                    font-size: 1.2rem;
                }
            }
        }
        &__title {
            font-size: 2rem;
        }
        &__link {
            font-size: 1.2rem;
        }
    }
    .title {
        font-size: 1.8rem;
        &_l {
            font-size: 2.4rem;
            &::after {
                width: 75px;
            }
        }
        &__note {
            font-size: 1.4rem;
        }
    }
    .section {
        &__navigation {
            top: 8px;
        }
    }
    .main {
        padding-bottom: 0;
        &__about-section {
            margin-top: 0;
            border-bottom: 1px solid rgba($black-300, .15);
        }
        &__projects-section {
            margin: 0;
            padding: 30px 0;
        }
        &__media-section {
            margin: 0;
            padding-bottom: 30px;
        }
    }
    .about-section {
        &__note {
            font-size: 1.3rem;
            margin-top: 35px;
        }
        &__col {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__text {
            & p {
                font-size: 1.3rem;
                line-height: 1.55;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .link {
        font-size: 1.2rem;
    }
    .news-section {
        &__col {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .video-item {
        &__content-button {
            width: 55px;
            height: 55px;
            margin-bottom: 15px;
        }
        &__content-date {
            font-size: 1.3rem;
        }
        &__content-title {
            font-size: 1.6rem;
            &::after {
                width: 30px;
                margin-left: -15px;
            }
        }
        &__content-note {
            margin-top: 20px;
            font-size: 1rem;
        }
    }
    .video-section {
        &__item {
            height: 245px;
        }
    }
    .news-item {
        &__title {
            font-size: 1.5rem;
        }
        &__text {
            max-width: 375px;
            & p {
                font-size: 1.3rem;
            }
        }
    }
    .media-section {
        &__col {
            margin: 0;
            padding-bottom: 30px;
            margin-bottom: 30px;
            &::after {
                content: '';
                position: absolute;
                width: calc(100% - 30px);
                top: 100%;
                left: 15px;
                height: 1px;
                background: rgba($black-300, .15);
            }
            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                &::after {
                    content: none;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .section {
        &__header {
            align-items: flex-start;
            &-link {
                margin-top: 5px;
                font-size: 1.2rem;
                white-space: nowrap;
            }
        }
        &__navigation {
            margin-left: 0;
            &-button {
                position: absolute;
                top: 55%;
                z-index: 2;
                & path {
                    stroke: $white;
                }
                &[data-direction="next"] {
                    right: 30px;
                }
                &[data-direction="prev"] {
                    left: 30px;
                }
            }
        }
    }
}
@media screen and (min-width: 1680px) {
    .about-hero {
        &__title {
            font-size: 4rem;
        }
        &__text {
            & p {
                font-size: 3.2rem;
            }
        }
        &__numbers {
            &-value {
                font-size: 4.4rem;
            }
            &-text {
                font-size: 1.6rem;
            }
        }
    }
    .box {
        &__content {
            padding: 30px 35px;
            transform: translateY(calc(100% - 170px));
            &_bigger {
                transform: translateY(calc(100% - 190px));
            }
            &-note {
                font-size: 1.6rem;
            }
            &-text {
                & p {
                    font-size: 1.6rem;
                }
            }
        }
        &__title {
            font-size: 2.8rem;
            &_s {
                font-size: 1.6rem;
                &::after {
                    top: calc(100% + 12px);
                }
            }
        }
        &__link {
            font-size: 1.6rem;
        }
    }
    .footer-menu {
        &__link {
            font-size: 1.6rem;
        }
    }
    .hero-slider {
        &__item {
            &-link {
                font-size: 1.8rem;
            }
        }
    }
    .lang {
        &__link {
            font-size: 1.6rem;
        }
    }
    .news-item {
        &__title {
            font-size: 1.6rem;
        }
        &__text {
            & p {
                font-size: 1.6rem;
            }
        }
    }
    .project-address {
        &__title {
            font-size: 2rem;
        }
        &__value {
            font-size: 1.6rem;
        }
    }
    .project-numbers {
        &__item {
            &-value {
                font-size: 4.2rem;
            }
            &-name {
                font-size: 1.4rem;
            }
        }
    }
    .project-road-item {
        &__number {
            font-size: 1.6rem;
        }
    }
    .project-team {
        padding: 45px 50px;
        &__title {
            font-size: 2rem;
        }
        &__list {
            &-item {
                font-size: 1.6rem;
            }
        }
    }
    .video-item {
        &__content {
            &-date {
                font-size: 1.6rem;
                &_bigger {
                    font-size: 2rem;
                }
            }
            &-title {
                font-size: 2.4rem;
                &_upper {
                    font-size: 3.2rem;
                }
                &_bigger {
                    font-size: 3.2rem;
                }
            }
            &-note {
                font-size: 1.6rem;
                &_bigger {
                    font-size: 2rem;
                }
            }
        }
    }
    .about-section {
        &__title {
            font-size: 3.6rem;
            &-note {
                font-size: 2rem;
            }
        }
        &__text {
            & p {
                font-size: 1.6rem;
            }
        }
        &__note {
            font-size: 2rem;
        }
        &__content {
            & p {
                font-size: 1.6rem;
                &:first-child {
                    font-size: 1.8rem;
                }
            }
        }
        &__additional-content {
            & p {
                font-size: 1.6rem;
                &:first-child {
                    font-size: 2rem;
                }
            }
            &-link {
                font-size: 1.6rem;
            }
        }
    }
    .advantages-section {
        &__col {
            &-name {
                font-size: 1.6rem;
            }
        }
    }
    .footer {
        &__tel-link {
            font-size: 1.6rem;
        }
        &__text {
            font-size: 1.4rem;
        }
    }
    .header {
        &__tel-link {
            font-size: 2rem;
        }
        &__menu-button {
            font-size: 2rem;
        }
        &__logo {
            &-icon {
                width: 100%;
            }
        }
    }
    .partner-section {
        &__title {
            font-size: 2.2rem;
        }
        &__text {
            & p {
                font-size: 1.6rem;
            }
        }
    }
    .project-description {
        &__title {
            font-size: 3rem;
        }
    }
    .text-section {
        &__content {
            & p {
                font-size: 1.6rem;
            }
        }
    }
}