.box {
    display: block;
    position: relative;
    text-decoration: none;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, rgba($dark, .5), rgba($dark, 0));
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__content {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform-origin: 0 0;
        transform: translateY(calc(100% - 10.119vw));
        transition: transform .25s ease-in-out;
        // padding: 30px 35px;
        // Flexible padding
        padding: 6.1404% 7.78%;
        z-index: 1;
        &_bigger {
            transform: translateY(calc(100% - 11.3095vw));
        }
        &-note {
            margin: 0;
            letter-spacing: .1em;
            line-height: 1.45;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: $white;
            width: 14.5833vw;
            max-width: 245px;
            // Flexible font size
            font-size: .9524vw;
        }
        &-text {
            opacity: 0;
            & p {
                margin: 0;
                letter-spacing: .04em;
                color: $dark;
                line-height: 1.65;
                // Flexible font size
                font-size: .9524vw;
            }
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: $primary;
            opacity: 0;
            transition: opacity .25s ease-in-out;
            z-index: -1;
        }
    }
    &__title {
        // Flexible font size
        font-size: 1.67vw;
        // font-size: 2.8rem;
        margin-bottom: 30px;
        color: $white;
        &_s {
            font-size: 1.6rem;
            line-height: 1.5;
        }
        &::after {
            width: 70px;
            height: 4px;
            top: calc(100% + 8px);
        }
    }
    &__link {
        opacity: 0;
        margin: 0;
        color: $dark;
        margin-top: 15px;
        // Flexible font size
        font-size: .9524vw;
    }
    &:hover {
        & .box {
            &__title {
                color: $dark;
                &::after {
                    background: $white;
                }
            }
            &__content {
                transform: translateY(0) !important;
                &-note {
                    color: $dark;
                }
                &-text {
                    opacity: 1;
                }
                &::after {
                    opacity: 1;
                }
            }
            &__link {
                opacity: 1;
            }
        }
    }
}