.footer-menu {
    @include flex();
    &__item {
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .15em;
        color: $black;
        // Flexible font size
        font-size: .9524vw;
    }
}