.hero-slider {
    @include flex();
    &__item {
        position: relative;
        height: 42.3vw;
        max-height: 710px;
        flex-basis: 120px;
        transition: all .35s ease-in-out;
        overflow: hidden;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba($dark, .3);
            top: 0;
            left: 0;
        }
        &_active {
            flex-basis: 100%;
            & .hero-slider {
                &__item {
                    &-content {
                        opacity: 1;
                    }
                    &-project-link {
                        pointer-events: auto;
                    }
                }
            }
        }
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-name {
            position: absolute;
            transform-origin: 0 0;
            transform: rotate(-90deg);
            top: calc(100% - 40px);
            left: 37px;
            margin: 0;
            font-size: 2.7rem;
            color: $white;
            letter-spacing: .1em;
            text-transform: uppercase;
            white-space: nowrap;
            z-index: 1;
        }
        &-content {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            text-align: center;
            transition: opacity .25s ease-in-out;
            z-index: 1;
        }
        &-icon {
            width: 27.9762vw;
            max-width: 470px;
            margin: 0 auto;
        }
        &-link {
            display: inline-block;
            text-decoration: none;
            // font-size: 1.8rem;
            // Flexible font size
            font-size: 1.0714vw;
            letter-spacing: .05em;
            margin-top: 20px;
            color: $white;
            &:hover {
                opacity: .8;
            }
        }
        &-project-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            text-decoration: none;
            z-index: 1;
        }
    }
}