.hero-slider {
    @include flex();
    &__item {
        height: 42.3vw;
        flex-basis: 8%;
        background-size: cover;
        background-position: 50%;
        transition: all .25s ease-in;
        cursor: pointer;
        &_active {
            flex-basis: 100%;
        }
    }
}