.lang {
    @include flex();
    &__link {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: .15em;
        margin-right: 20px;
        border-bottom: 1px solid $black;
        // Flexible font size
        font-size: .9524vw;
        &::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            background: $black;
            left: calc(100% + 10px);
            top: 0;
        }
        &[href] {
            border-bottom-color: transparent;
            color: $black;
            &:hover {
                color: $black-300;
            }
        }
        &:last-child {
            margin-right: 0;
            &::after {
                content: none;
            }
        }
    }
}