.project-hero-slider {
    position: relative;
    &__item {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba($dark, .3);
        }
        &-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 33.3vw;
            max-width: 560px;
            transform: translate3d(-50%, -50%, 0);
            z-index: 1;
        }
    }
    &__pagination {
        bottom: 30px;
        & .swiper-pagination-bullet {
            &::after {
                background: rgba($white, .5);
            }
            &-active {
                &::after {
                    background: $white;
                }
            }
        }
    }
}