.project-road-item {
    display: block;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, rgba($dark, .5), rgba($dark, 0));
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .25s ease-in-out;
    }
    &__number {
        position: absolute;
        bottom: 15px;
        right: 20px;
        color: $white;
        z-index: 1;
    }
    &:hover {
        & .project-road-item {
            &__img {
                transform: scale(1.05);
            }
        }
    }
}