.swiper-pagination {
    @include flex(row, center, center);
    width: 100%;
    z-index: 1;
    &-bullet {
        width: 1.5px;
        height: 1px;
        margin-right: 12px;
        position: relative;
        opacity: 1;
        &::after {
            content: '';
            position: absolute;
            width: 1.5px;
            height: 15px;
            bottom: 0;
            left: 0;
            background: $black-300;
        }
        &:last-child {
            margin-right: 0;
        }
        &-active {
            &::after {
                height: 25px;
                background: $dark;
            }
        }
    }
}