.video-item {
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 80%;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, rgba($dark, .8), rgba($dark, 0));
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .25s ease-in-out;
    }
    &__content {
        position: absolute;
        @include flex(column, center, center);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        &-button {
            // Flexible size
            width: 5.3571vw;
            height: 5.3571vw;
            max-width: 90px;
            max-height: 90px;
            margin-bottom: 25px;
            & svg {
                width: 100%;
                height: 100%;
            }
            &_bigger {
                // Flexible size
                width: 6.25vw;
                height: 6.25vw;
                max-width: 105px;
                max-height: 105px;
            }
        }
        &-date {
            // Flexible font size
            font-size: .95238vw;
            letter-spacing: .04em;
            color: $white;
            &_bigger {
                // Flexible font size
                font-size: 1.1905vw;
            }
        }
        &-title {
            // font-size: 2.4rem;
            // Flexible font size
            font-size: 1.4286vw;
            color: $white;
            margin-top: 5px;
            letter-spacing: .1em;
            &_upper {
                text-transform: uppercase;
                margin-top: 20px;
                // font-size: 3.2rem;
                // Flexible font size
                font-size: 1.9048vw;
            }
            &_bigger {
                // Flexible font size
                font-size: 1.9048vw;
            }
            &::after {
                width: 65px;
                height: 4px;
                left: 50%;
                margin-left: -32.5px;
                top: calc(100% + 8px);
            }
        }
        &-note {
            // Flexible font size
            font-size: .95238vw;
            margin-top: 35px;
            letter-spacing: .1em;
            color: $white;
            text-transform: uppercase;
            &_bigger {
                // Flexible font size
                font-size: 1.1905vw;
            }
        }
    }
    &:hover {
        & .video-item {
            &__img {
                transform: scale(1.05);
            }
        }
    }
}