.about-section {
    padding: 30px 0;
    padding-bottom: 35px;
    position: relative;
    &__title {
        // Flexible font size
        font-size: 2.1429vw;
        &-note {
            // Flexible font size
            font-size: 1.1905vw;
        }
    }
    &__col {
        @include flex(column);
    }
    &__link {
        margin-top: auto;
    }
    &__img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        width: 35%;
        max-width: 585px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        & p {
            margin: 0;
            margin-bottom: 30px;
            line-height: 1.875;
            letter-spacing: .04em;
            // Flexible font size
            font-size: .9523vw;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__note {
        margin: 0;
        // font-size: 2rem;
        // Flexible font size
        font-size: 1.1905vw;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .1em;
        color: $dark;
        margin-top: 50px;
        line-height: 1.25;
    }
    &__content {
        margin-top: 30px;
        padding-right: 40px;
        & p {
            // Flexible font size
            font-size: .95238vw;
            margin: 0;
            margin-bottom: 25px;
            line-height: 1.65;
            &:last-child {
                margin-bottom: 0;
            }
            &:first-child {
                // font-size: 1.8rem;
                // Flexible font size
                font-size: 1.0714vw;
            }
        }
    }
    &__additional-content {
        position: absolute;
        right: 0;
        top: 40px;
        padding: 50px 90px;
        background: $light;
        width: 45%;
        max-height: 100%;
        max-width: 825px;
        & p {
            // Flexible font size
            font-size: .95238vw;
            margin: 0;
            letter-spacing: .04em;
            line-height: 1.65;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
            &:first-child {
                // font-size: 2rem;
                // Flexible font size
                font-size: 1.1905vw;
                font-weight: 600;
                letter-spacing: .1em;
                text-transform: uppercase;
                line-height: 1.25;
            }
        }
        &-link {
            // Flexible font size
            font-size: .95238vw;
            text-decoration: none;
            font-weight: 600;
            color: $black;
            letter-spacing: .04em;
            &:hover {
                color: $black-300;
            }
        }
    }
}