.about-section {
    padding: 30px 0;
    padding-bottom: 35px;
    position: relative;
    &__col {
        @include flex(column);
    }
    &__link {
        margin-top: auto;
    }
    &__img {
        position: absolute;
        right: 0;
        top: 30px;
        width: 35%;
        max-width: 585px;
        max-height: 100%;
    }
    &__text {
        & p {
            margin: 0;
            margin-bottom: 30px;
            line-height: 1.875;
            letter-spacing: .04em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__note {
        margin: 0;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .1em;
        color: $dark;
        margin-top: 50px;
        line-height: 1.25;
    }
}