.footer {
    border-top: 1px solid rgba($black-300, .2);
    padding: 55px 0;
    &__wrapper {
        @include flex(row, center);
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__links {
        @include flex();
        margin-left: auto;
    }
    &__social-link {
        width: 18px;
        height: 18px;
        display: block;
    }
    &__tel-link {
        text-decoration: none;
        color: $black;
        letter-spacing: .05em;
        margin-right: 40px;
        // Flexible font size
        font-size: .9524vw;
        &:hover {
            color: $black-300;
        }
    }
    &__lang {
        margin-right: 25px;
    }
    &__text {
        margin: 0;
        // font-size: 1.4rem;
        // Flexible font size
        font-size: .83vw;
        letter-spacing: .05em;
    }
    &__dev {
        margin-left: auto;
        & a {
            text-decoration: none;
            color: $black;
            &:hover {
                color: $black-300;
            }
        }
    }
}