.header {
    padding: 45px 0;
    &__logo {
        display: inline-block;
        &-icon {
            max-width: 290px;
            // Flexible width
            width: 17.2619vw;
        }
    }
    &__content {
        @include flex(row, center, flex-end);
    }
    &__tel-link {
        color: $black;
        text-decoration: none;
        // font-size: 2rem;
        // Flexible font size
        font-size: 1.1905vw;
        letter-spacing: .05em;
        margin-right: 180px;
        &:hover {
            color: $black-300;
        }
    }
    &__menu-button {
        position: relative;
        padding-left: 45px;
        // font-size: 2rem;
        // Flexible font size
        font-size: 1.1905vw;
        letter-spacing: .15em;
        text-transform: uppercase;
        &-icon {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}