.header {
    position: relative;
    padding: 45px 0;
    z-index: 11;
    &__logo {
        display: block;
        &-icon {
            max-width: 290px;
            // Flexible width
            width: 17.2619vw;
        }
    }
    &__content {
        @include flex(row, center, flex-end);
    }
    &__tel-link {
        color: $black;
        text-decoration: none;
        // font-size: 2rem;
        // Flexible font size
        font-size: 1.1905vw;
        letter-spacing: .05em;
        margin-right: 180px;
        &:hover {
            color: $black-300;
        }
    }
    &__menu-button {
        position: relative;
        padding-left: 45px;
        // font-size: 2rem;
        // Flexible font size
        font-size: 1.1905vw;
        letter-spacing: .15em;
        text-transform: uppercase;
        &-icon {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            pointer-events: none;
            & rect {
                transition: transform .25s ease;
                will-change: transform;
                &:last-child {
                    transform: translate3d(0, 8px, 0);
                }
            }
        }
        &-m-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            opacity: 0;
            transition: transform .25s ease-in-out, opacity .25s ease-in-out;
            pointer-events: none;
            flex-shrink: 0;
            backface-visibility: hidden;
            will-change: opacity;
            &:nth-child(2) {
                transform: translate3d(-50%, 100%, 0);
            }
        }
        &:hover {
            & rect {
                &:last-child {
                    transform: translate3d(11px, 8px, 0);
                }
            }
        }
        &_active {
            & rect {
                &:last-child {
                    transform: translate3d(11px, 8px, 0);
                }
            }
        }
    }
}