.partner-section {
    padding: 100px 0;
    padding-bottom: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($dark, .3);
    }
    &__container {
        position: relative;
        z-index: 1;
    }
    &__icon {
        max-width: 120px;
        margin: 0 auto;
    }
    &__title {
        margin: 0;
        font-size: 2.2rem;
        letter-spacing: .1em;
        text-transform: uppercase;
        color: $white;
        text-align: center;
        margin-top: 20px;
    }
    &__text {
        margin-top: 35px;
        & p {
            margin: 0;
            line-height: 1.65;
            letter-spacing: .04em;
            margin-bottom: 30px;
            color: $white;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}