.project-video-section {
    &__carousel {
        &-slide {
            max-width: 930px;
        }
        &-item {
            width: 100%;
            height: 35.4vw;
            max-height: 595px;
        }
    }
}