.project-description {
    &__title {
        // font-size: 3rem;
        // Flexible font size
        font-size: 1.7856vw;
        text-transform: none;
        letter-spacing: .04em;
        max-width: 660px;
        margin-bottom: 65px;
    }
    &__col {
        &:first-child {
            padding-right: 60px;
        }
    }
    &__numbers {
        margin-top: 20px;
    }
}