.section {
    position: relative;
    &__header {
        @include flex(row, center);
        margin-bottom: 30px;
        &-link {
            margin-left: auto;
        }
    }
    &__navigation {
        @include flex(row, center);
        margin-left: auto;
        &-button {
            @include flex(row, center, center);
            width: 35px;
            height: 25px;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                & path {
                    stroke: $primary;
                }
            }
            &.swiper-button-disabled {
                opacity: .5;
                pointer-events: none;
            }
        }
    }
}