.template {
    &__about-section {
        margin-top: 40px;
    }
    &__advantages-section {
        margin-top: 85px;
    }
    &__services-section {
        margin-top: 30px;
    }
    &__partner-section {
        margin-top: 90px;
    }
}