// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Proxima Nova';
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$dark: #222;
$black: #444;
$black-300: #707070;
$primary: #F5BD38;

//Font weight
$font-weight: ();
